
  <h5>Titre:  <input type="text" id="title" name="title" value="<%=song.title%>"></h5>
  <br/>
  <h5>Album:  <input type="text" id="album" name="album" value="<%=song.album%>"></h5>
  <br/>
  <h5>Artist: <input type="text" id="artist" name="artist" value="<%=song.artist%>"></h5>
  <br/>
  <h5>Year:   <input type="text" id="year" name="year" value="<%=song.year%>"></h5>
  <br/>
  <h5>BPM:    <input type="text" id="bpm" name="bpm" value="<%=song.bpm%>"></h5>
  <br/>
